@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
    /* outline: 1px dotted #fff; */
}

:root {
    --background-rgb: 29 30 34;

    --blue-rgb: 33 150 243;
    --primary-rgb: var(--blue-rgb);

    --blob-color-1: rgb(var(--blue-rgb));
    --blob-color-2: dodgerblue;
}

/* defaults */

html {
    background: rgb(40, 40, 40);
    scroll-behavior: smooth;
}

html,
body,
main,
section {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

::before,
::after {
    color: rgba(255, 255, 255, 0.2);
    ;
}

p:not(.no-before-after)::before {
    content: "< p >";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

p:not(.no-before-after)::after {
    content: "</p>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h1:not(.no-before-after)::before {
    content: "<h1>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h1:not(.no-before-after)::after {
    content: "</h1>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h2::before {
    content: "<h2>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h2::after {
    content: "</h2>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h3:not(.no-before-after)::before {
    content: "<h3>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

h3:not(.no-before-after)::after {
    content: "</h3>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

body::before {
    content: "<body>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

body::after {
    content: "</body>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

html::before {
    content: "<html>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
}

/* html::after{
    content: "</html>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
} */

section::before {
    content: "<section>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
    color: rgba(255, 255, 255, 0.2);
}

section::after {
    content: "</section>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
    color: rgba(255, 255, 255, 0.2);
}

form::before {
    content: "<form>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
    color: rgba(255, 255, 255, 0.2);
}

form::after {
    content: "</form>";
    display: block;
    padding: 0.3em;
    font-size: 1.1rem;
    font-family: 'La Belle Aurore', cursive;
    color: rgba(255, 255, 255, 0.2);
}

.anchor-hover a::before {
    background: #7fffd4;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    transition: all 0.4s ease;
}

.anchor-hover a:hover span {
    color: #000;
    position: relative;
}

.anchor-hover a:hover::before {
    width: 100%;
}

/* defaults end */

#trailer {
    height: 20px;
    width: 20px;
    /* background: #fff; */
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;

    pointer-events: none;
    /*so that our clicks and hovers pass through to the content underneath the trailer*/
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover>#trailer {
    opacity: 1;
}

/* Header */
header {
    height: 90%;
    padding: 0 5em;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

header h1 {
    font-size: 6rem;
}

header h1 span:nth-of-type(1) {
    color: rgb(255, 75, 75);
    text-shadow: -0.4rem 0px #7fffd4;
    font-weight: bold;
}

header p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.2);
}

header a {
    border: 1px solid #7fffd4;
    padding: 1em 3em;
    color: #7fffd4;
    letter-spacing: 2px;

    position: relative;
}

/* Header end */

/* projects section */
#projects {
    padding: 0em 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#projects h2 {
    font-size: 4rem;
    color: #7fffd4;
}

#projects div:nth-of-type(1) {
    display: flex;
}

.projects-left {
    flex: 2;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5;
}

.projects-right {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.projects-right a {
    border: 1px solid #7fffd4;
    padding: 1em 3em;
    color: #7fffd4;
    letter-spacing: 2px;
    position: relative;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50%;
    
    position: relative;
}

.project {
    transition: all 0.4s ease;
    /* filter: brightness(50%); */
    filter: opacity(30%);
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-popup-content {
    width: 45%;
    height: 45%;
    transform: translate(0%, 0%);
    scale: 0;
    padding: 0.5em;

    background: #7fffd4;
    border-radius: 100%;
    padding: 0.7em;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.project:nth-of-type(1) {
    background: url(../images/project1.jpg);
    background-position: center;
    background-size: cover;
}

.project:nth-of-type(2) {
    background: url(../images/project2.png);
    background-position: center;
    background-size: cover;
}

.project:nth-of-type(3) {
    background: url(../images/project3.png);
    background-position: center;
    background-size: cover;
}

.project:nth-of-type(4) {
    background: url(../images/project4.png);
    background-position: center;
    background-size: cover;
}

.project:hover {
    /* filter: brightness(100%); */
    filter: opacity(100%);
}

.project:hover .project-popup-content {
    scale: 1;
}

/* projects section end */

/* about section */
#about {
    display: flex;
    flex-direction: column;
    padding: 0 5em;
}

.about-container {
    display: flex;
    height: 100%;
}

#about h2 {
    color: #7fffd4;
    font-size: 4rem;
}

.about-info {
    flex: 1;
    color: #fff;
    line-height: 1.5;
}

.special-effect {
    flex: 1;

    display: flex;
    justify-content: center;
}

.screen {
    width: 500px;
    display: flex;
    border: 3px solid rgb(var(--primary-rgb) / 80%);
    aspect-ratio: 3 / 3;
    border-radius: 1rem;
    background-color: rgb(var(--primary-rgb) / 15%);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}

.screen-overlay {
    background: linear-gradient(rgb(var(--primary-rgb) / 0.15),
            rgb(var(--primary-rgb) / 0.15) 3px,
            transparent 3px,
            transparent 9px);
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}

@keyframes pan-image {
    0% {
        background-position: 36% 42%;
        background-size: 200%;
    }

    20% {
        background-position: 30% 35%;
        background-size: 200%;
    }

    20.0001% {
        background-position: 60% 85%;
        background-size: 500%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 500%;
    }

    40.0001% {
        background-position: 80% 42%;
        background-size: 300%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 300%;
    }

    60.0001% {
        background-position: 0% 0%;
        background-size: 300%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 300%;
    }

    80.0001% {
        background-position: 80% 10%;
        background-size: 300%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 300%;
    }
}

.screen>.screen-image {
    background-image: url(../images/blue.avif);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.6;
    animation: pan-image 15s linear infinite;
}

.screen>.screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
}

.screen-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-icon {
    color: #fff;
    font-size: 4rem;
    text-shadow: 0px 0px 0.5rem #fff;
}

/* about ends */

/* skills section */
#skills{
    padding: 1em 5em;
    height: 120%;
}

#skills h2 {
    font-size: 4rem;
    color: #7fffd4;
}

.skills-container{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(255, 255, 255, 5%);
    border-radius: 1.5rem;
    padding: 1rem;

    position: relative;
}

.card h2{
    font-weight: bold;
}

.card::after{
    background: linear-gradient(
        transparent,
        #7fffd4,
        transparent
    );
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    content: "";
    opacity: 0;

    transition: top 600ms ease,
                opacity 600ms ease;
}

.card:hover::after{
    top: 25%;
    opacity: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px,
            transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 4rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card-content> :is(h1, h3, p) {
    text-align: center;
}

.card-content>h1 {
    color: rgb(250 249 246);
    font-size: 2.6rem;
}

.card-content>h3 {
    color: #7fffd4;
    text-transform: uppercase;
    font-size: 0.76rem;
}

.card-content>p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.5rem;
}

/* skills section end */

/* contact section */
#contact{
    padding: 0 5em;
}

.contact-container{
    width: 100%;
    padding: 2em 0;
}

.contact-container h2{
    font-size: 4rem;
    color: #7fffd4;
}

.contact-container p{
    color: #fff;
    line-height: 1.5;
}

.contact-container form{
    width: 100%;
}

.contact-container form input{
    color: #fff;
    border: none;
    background: #353535;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1.1rem;
}

.contact-container form input:nth-of-type(1){
    width: 49.8%;
}

.contact-container form input:nth-of-type(2){
    width: 49.8%;
}

.contact-container form input:nth-of-type(3){
    width: 100%;
}

.contact-container form textarea{
    color: #fff;
    border: none;
    background: #353535;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1.1rem;
    width: 100%;
}

form button{
    background: none;
    border: 1px solid #7fffd4;
    padding: 0.8em 3em;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
}

form button a{
    color: #7fffd4;
}

form button::before {
    background: #7fffd4;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    transition: all 0.4s ease;
}

form button:hover a span {
    color: #000;
    position: relative;
}

form button:hover::before {
    width: 100%;
}

/* Media Queries */
@media (width < 1199px){ /* small desktop screen */
    .project-popup-content {
        width: 50%;
        height: 50%;
    }
    
    .about-container {
        gap: 2em;
    }

    #skills{
        padding: 1em 5em;
        height: 145%;
    }

    .contact-container form input:nth-of-type(1){
        width: 49.7%;
    }
    
    .contact-container form input:nth-of-type(2){
        width: 49.7%;
    }

    body{
        height: 110%;
    }
}

@media (width < 991px){ /* tablet */
    *{
        /* outline: 1px solid #fff; */
    }

    body{
        height: 125%;
    }

    header{
        height: 70%;
        gap: 1em;
    }

    header h1 {
        font-size: 5rem;
    }

    #projects{
        height: 150%;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
    }

    .screen {
        aspect-ratio: 1 / 1;
    }

    #skills{
        padding: 1em 5em;
        height: 145%;
    }
}

@media (width < 850px){

    #about{
        height: 150%;
    }

    #skills{
        height: 155%;
    }
}

@media (width < 767px){ /* mobile */
    *{
        /* outline: 1px dotted #fff; */
    }

    header{
        height: 65%;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1rem;
    }

    #projects{
        height: 115%;
    }

    #projects div:nth-of-type(1) {
        flex-direction: column;
    }

    .projects-right {
        justify-content: flex-start;
    }

    #about{
        height: 130%;
    }

    .about-container {
        flex-direction: column;
    }

    .about-info {
        flex: 1;
    }
    
    .special-effect {
        flex: 3;
    } 
    
    .screen {
        aspect-ratio: 1 / 1;
    }

    #skills{
        height: 200%;
    }

    .skills-container{
        grid-template-columns: 1fr;
    }

    .card {
        padding: 4rem 1rem;
    }

    .card-content>h1 {
        font-size: 3.3rem;
    }
    
    .card-content>h3 {
        font-size: 1rem;
    }
    
    .card-content>p {
        line-height: 2rem;
    } 
    
    .contact-container form input:nth-of-type(1){
        width: 100%;
    }
    
    .contact-container form input:nth-of-type(2){
        width: 100%;
    }

    body{
        height: 140%;
    }
}
@media (width < 640px){ /* This is the screen size of some mid-range Android devices. */
    *{
        /* outline: 1px dotted #fff; */
    }

    header,
    #projects,
    #about,
    #skills,
    #contact{
        padding: 0 2em;
    }

    header h1 {
        font-size: 3.7rem;
    }
    
    #projects{
        height: 120%;
    }

    #skills{
        height: 190%;
    }
}

@media (width < 591px){
    header h1 {
        font-size: 3.3rem;
    }
}

@media (width < 548px){
    #skills{
        height: 210%;
    }
}

@media (width < 480px){ /* This is the screen size of the iPhone 4 and earlier models. */
    *{
        /* outline: 1px dotted #fff; */
    }

    header{
        height: 63%;
    }

    header h1 {
        font-size: 2.8rem;
    }

    #projects{
        height: 225%;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    #skills{
        height: 135%;
    }

    .card {
        padding: 2rem 0rem;
    }

    .card-content{
        padding: 2rem;
    }

    .card-content>h1 {
        font-size: 2.8rem;
    }
    
    .card-content>h3 {
        font-size: 0.8rem;
    }
    
    .card-content>p {
        line-height: 1.8rem;
    } 

    body{
        height: 145%;
    }   
}

@media (width < 450px){
    header{
        height: 61%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    #skills{
        height: 150%;
    }
}

@media (width < 400px){
    header h1 {
        font-size: 2.3rem;
    }

    header p {
        font-size: 0.8rem;
    }

    #projects{
        height: 220%;
    }

    #skills{
        height: 150%;
    }
}

@media (width < 396px){
    header h1 {
        font-size: 1.8rem;
    }
}